# Library Management System Requirements 
 
## User Roles 
1. Librarian 
2. Member 
 
## Features 
1. Book Management 
- Add/Remove/Update/Search books 
 
2. User Management 
- Register/Manage users 
 
3. Borrowing and Returning Books 
- Issue/Return books 
